/* 

COLORS 
	Green:				#5A9B9D
	Dark Green :		#354141
	Med Green:			#394A4A
	Darker Green:		#2a3131
	Dark Red:			#783d3d
	BTN Green:			#3D5354
	Light Red:			#ec7d7d
	Light Green:		#AFD5D6
	Other Green:		#497274
	Date					#4f7879
	
FONTS
	font-family: 'Cantarell', arial, sans-serif;
	font-family: 'BebasNeueRegular';	

STANDARDS
	text btn: 		font-size: 10px; text-transform: uppercase; font-weight: bold;		

	
*/

/**
 * calendar calendar table styles
 */
.calendar-calendar tr.odd, .calendar-calendar tr.even {
  background-color: #394A4A;
}
.calendar-calendar table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%; /* Setting at 100% causes problem in Internet Explorer. */
  clear: both;
}
.calendar-calendar .month-view table {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  clear: both;
}

/**
 * IE needs a little help to get the side by side tables to the right size
 */
.calendar-calendar .year-view td {
  width: 32%;
  padding: 1px;
  border: none;
}

.calendar-calendar .year-view td table td {
  width: 13%;
  padding: 0;
}

.calendar-calendar tr {
  padding: 0;
  margin: 0;
  background-color: white;
}
.calendar-calendar th {
  color: #394A4A;
  background-color: #3D5354;
  text-align: center;
  margin: 0;
}
.calendar-calendar th a {
  font-weight: bold;
  color: #394A4A;
  background-color: #3D5354;
}
.calendar-calendar td {
  width: 12%; /* 14% is about 1/7 of total table width */
  min-width: 12%;
  border: none;
  color: #fff;
  text-align: right;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

/**
 * simplify the mini calendar by removing borders
 */
.calendar-calendar .mini {
  border: none;
 }

/**
 * format for the week number in the first cell
 */
.calendar-calendar td.week {
  width: 1%;
  min-width: 1%;
  }
.calendar-calendar .week {
  clear: both;
  font-style: normal;
  color: #555;
  font-size: 0.8em;
}
.calendar-calendar .week a {
  font-weight: normal;
}

/**
 * IE6 does not support min-height, using Min-Height fast hack from http://www.dustindiaz.com/min-height-fast-hack
 */
.calendar-calendar .inner {
  min-height: 5em;
  height: auto !important;
  height: 5em;
  padding: 0;
  margin: 0;
}
.calendar-calendar .inner div {
  padding: 0;
  margin: 0;
}
/**
 * Make sure paragraphs buried in calendar cells use padding, not margins, for separation so the background color doesn't come through.
 */
.calendar-calendar .inner p {
  padding: 0 0 .8em 0;
  margin: 0;
}
.calendar-calendar td a {
  font-weight: bold;
  text-decoration: none;
}
.calendar-calendar td a:hover {
  text-decoration: underline;
}
.calendar-calendar td.year,
.calendar-calendar td.month {
  text-align: center;
}

/**
 * format days of the week header cells
 */
.calendar-calendar th.days {
  color: #354141;
  background-color: #497274;
  text-align: center;
  padding: 1px;
  margin: 0;
 }

/**
 * floating day number div
 */
.calendar-calendar div.day {
  float: right;
  text-align: center;
  padding: 0.125em 0.25em 0 0.25em;
  margin: 0;
  background-color: #3D5354;
  border: none;
  clear:both;
  width:1.5em;
}

/**
 * individual node container
 */
.calendar-calendar div.calendar {
  background-color: #394A4A;
  border: none;
  text-align: left;
  margin:0 .25em .25em 0;
  width: 96%;
  float: right; /* needed to keep IE from hiding the floating day number */
  clear: both;
}
/**
 * No floating of day view content because there is no floating day number
 */
.calendar-calendar .day-view div.calendar {
  float: none;
  width: 98%;
  margin: 1% 1% 0 1%;
}

.calendar-calendar div.title {
  font-size: .8em;
  text-align: center;
}

.calendar-calendar div.title a {
  color: #000;
}
.calendar-calendar div.title a:hover {
  color: #c00;
}
.calendar-calendar .content {
  clear: both;
  padding: 3px;
  padding-left: 5px;
}
.calendar div.form-item {
  white-space: normal;
}

table td.mini,
table th.mini,
table.mini td.week {
  padding: 0 1px 0 0;
  margin: 0;
}
table td.mini a {
  font-weight: normal;
}
.calendar-calendar .mini-day-off {
  padding: 0px;
}
.calendar-calendar .mini-day-on {
  padding: 0px;
}
table .mini-day-on a {
  text-decoration: underline;
}
.calendar-calendar .mini .title {
  font-size: .8em;
}
.mini .calendar-calendar .week {
  font-size: .7em;
}
.mini-row {
  width: 100%;
  border: none;
}
.mini{
  width: 32%;
  vertical-align: top;
}

/**
 * formatting for the legend stripe and block
 */
.calendar-calendar .stripe {
  height:  5px;
  width: auto;
  font-size: 1px !important;
  line-height: 1px !important;
}
.calendar-calendar .day-view .stripe {
  width: 100%;
}
table.calendar-legend {
  background-color: #3D5354;
  width: 100%;
  margin: 0;
  padding: 0;
}
table.calendar-legend tr.odd .stripe,
table.calendar-legend tr.even .stripe {
  height: 12px !important;
  font-size: 9px !important;
  line-height: 10px !important;
}
.calendar-legend td {
  text-align: left;
}

.calendar-empty {
  font-size: 1px;
  line-height: 1px;
}

/**
 * formatting for the full day view
 */
.calendar-calendar td.calendar-agenda-hour {
  font-family: serif;
  text-align: right;
  border: none;
  border-top: 1px #333 dotted;
  padding-top: .25em;
  width: 1%;
}
.calendar-calendar td.calendar-agenda-no-hours {
  min-width: 1%;
}
.calendar-calendar td.calendar-agenda-hour .calendar-hour {
  font-size: 1.2em;
  font-weight: bold;
}
.calendar-calendar td.calendar-agenda-hour .calendar-ampm {
  font-size: 1em;
}
.calendar-calendar td.calendar-agenda-items {
  border: none;
  text-align: left;
}
.calendar-calendar td.calendar-agenda-items div.calendar {
  width: auto;
  padding: .25em;
  margin: 0;
}
.calendar-calendar div.calendar div.inner .calendar-agenda-empty {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 1em 0;
  background-color: #394A4A;
}

/**
 * The popup date selector for jumping to a new date.
 */
.calendar-date-select form {
  text-align: right;
  float: right;
  width: 25%;
}
.calendar-date-select div,
.calendar-date-select input,
.calendar-date-select label {
  text-align: right;
  padding: 0;
  margin: 0;
  float: right;
  clear: both;
}
.calendar-date-select .description {
  float: right;
}
.calendar-label {
  font-weight: bold;
  display: block;
  clear: both;
}

.calendar-calendar div.date-nav {
  background-color: #3D5354;
  color: #fff;
  width: auto;
  border: none;
}
.calendar-calendar div.date-nav a,
.calendar-calendar div.date-nav h3 {
  color: #fff;
}
.calendar-calendar th.days {
  background-color: #497274;
  color: #354141;
  font-weight: bold;
  border: none;
}
.calendar-calendar td.empty {
  background: #3D5354;
  border-color: none;
}
.calendar-calendar table.mini td.empty {
  background: #394A4A;
  border-color: none;
}
.calendar-calendar td div.day {
  border: none;
  border-top: none;
  border-right: none;
  margin-bottom: 2px;
}
.calendar-calendar td .inner div,
.calendar-calendar td .inner div a {
  background: #3D5354;
}

/**
 *Set small font size for all items in calendar div, themes can override this.
 *
 * Use x-small instead of em to avoid multiplying effect in nested items.
 */
.calendar-calendar div.calendar {
  border: none;
  font-size: x-small;
}
.calendar-calendar td .inner div.calendar div,
.calendar-calendar td .inner div.calendar div a {
  border: none;
  background: #3D5354;
  padding: 0 2px;
}
.calendar-calendar td .inner div.calendar div.calendar-more,
.calendar-calendar td .inner div.calendar div.calendar-more a {
  color: #444;
  background: #394A4A;
  text-align: right;
}
.calendar-calendar td .inner .view-field,
.calendar-calendar td .inner .view-field a {
  color: #444;
  font-weight: normal;
}

.calendar-calendar td span.date-display-single,
.calendar-calendar td span.date-display-start,
.calendar-calendar td span.date-display-end,
.calendar-calendar td span.date-display-separator {
  font-weight: bold;
}
.calendar-calendar td .inner div.day a {
  color: #4b85ac;
}
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: #3D5354;
}
.calendar-calendar td .inner div.calendar div div.view-data-node-data-field-date-field-date-value {
  border-bottom: none;
}

/**
 * The following are not used by default but are available for themes.
 */
.calendar-calendar td.past {}
.calendar-calendar td.future {}
.calendar-calendar td.has-events {}
.calendar-calendar td.has-no-events {}

.calendar-calendar table.mini tbody tr{height: 50px;}
.calendar-calendar table.mini td{border-right: #354141 solid 4px; border-bottom: #354141 solid 4px; background: #394A4A; color: #497274;  padding-right: 3px; font-weight: bold;}
.calendar-calendar table.mini td.empty{border-right: #354141 solid 4px; border-bottom: #354141 solid 4px; background: #364343;}
.calendar-calendar table.mini td.sat{border-right: none;}
.calendar-calendar table.mini td a{padding-right: 3px; font-weight: bold;}

.calendar-calendar table.mini td.has-events{padding: 0;}
.calendar-calendar table.mini td.has-events div.mini-day-on{height: 45px;}
.calendar-calendar table.mini td.has-events a{display: block; height: 100%; background: #5A9B9D; color: #394A4A; text-decoration: none;}

.view .date-nav-wrapper .date-nav{padding: 0; margin: 0; min-height: 25px; background: #5A9B9D; color: #394A4A; position: relative;}
.date-heading{height: 25px; line-height: 25px;}
.view .date-nav-wrapper .date-heading h3{margin: 0; line-height: 25px;}
.date-heading a{color: #394A4A; font-size: 14px; display: block;}

.view-calendar .item-list .pager {
    background: none repeat scroll 0 0 #394A4A;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 0;
    line-height: 0;
    margin-top: 0;
    position: absolute;
    width: 100%;
}

.view .date-nav-wrapper .date-prev{
    background: none;
    border-radius: 0;
    float: none;
    font-size: 12px;
    padding: 0;
    position: absolute;
    right: auto;
    left: 0;
    height: 25px;
    text-align: center;
    top: 0;
    z-index: 1;
    line-height: 20px;
    width: 60px;
    background: #5A9B9D;
margin: 0;
}
.view .date-nav-wrapper .date-next a, 
.view .date-nav-wrapper .date-prev a{margin: 0; display: block; height: 25px;}

.view .date-nav-wrapper .date-next{
    background: none;
    border-radius: 0;
    float: none;
    font-size: 12px;
    padding: 0;
    position: absolute;
    right: 0;
    
    height: 25px;
    text-align: center;
    top: 0;
    z-index: 1;
    line-height: 8px;
    width: 60px;
    background: #5A9B9D;
margin: 0;
}

.view.view-display-id-block_1 .date-nav-wrapper .date-prev,
.view.view-display-id-block_1 .date-nav-wrapper .date-next
{width: 25px}

.calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty{border-right: #354141 solid 4px;  background: #364343;}

.calendar-calendar .month-view .full td.single-day.empty {border-bottom: #354141 solid 4px;}

.calendar-calendar .month-view .full tr td.multi-day, .calendar-calendar .month-view .full tr td.date-box{border-right: #354141 solid 4px; background: #394A4A; color: #497274;  padding-right: 3px; font-weight: bold;}

.calendar-calendar .month-view .full tr.single-day .no-entry{border-right: #354141 solid 4px; border-bottom: #354141 solid 4px; background: #394A4A; color: #497274;  padding-right: 3px; font-weight: bold;}

.calendar-calendar .month-view .full tr td.multi-day, .calendar-calendar .month-view .full tr td.single-day 
{ background: #394A4A; color: #394A4A; border-right: #354141 solid 4px; border-bottom: #354141 solid 4px;  color: #497274;  padding-right: 3px; font-weight: bold;}

.calendar-calendar .month-view .full tr td.date-box{background: #3D5354}
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview{background: #5A9B9D;}
.calendar-calendar td .inner div.calendar div a{color: #394A4A; font-weight: bold; padding: 0; font-size: 12px;}
.calendar-calendar td .inner div.day a{color: #5A9B9D;}

.calendar-calendar .week-view .full div.calendar-agenda-hour, .calendar-calendar .day-view .full div.calendar-agenda-hour, .calendar-calendar .week-view .full div.calendar-agenda-items, .calendar-calendar .day-view .full div.calendar-agenda-items{ border-top: #354141 solid 4px;}
.calendar-calendar .week-view #multi-day-container table td, .calendar-calendar .day-view #multi-day-container table td{border-bottom: #354141 solid 4px; background: #3D5354;}

.header-body-divider-processed{display: none;}
.calendar-calendar .week-view #multi-day-container, .calendar-calendar .day-view #multi-day-container{border: none;}
#multi-day-container{display: none;}

.calendar-calendar .week-view #single-day-container, .calendar-calendar .day-view #single-day-container{border-top: none;}

.calendar-calendar .week-view .full div.single-day div.weekview, .calendar-calendar .day-view .full div.single-day div.dayview{background: #5A9B9D;}

.calendar-calendar .week-view .full div.single-day div.weekview, .calendar-calendar .day-view .full div.single-day div.dayview{border: none;}

.calendar-calendar td span.date-display-single, .calendar-calendar td span.date-display-start, .calendar-calendar td span.date-display-end, .calendar-calendar td span.date-display-separator {color: #fff;}

.calendar-calendar .week-view .full .calendar-agenda-hour, .calendar-calendar .week-view #single-day-container table td, .calendar-calendar .day-view #single-day-container table td {background: #3D5354;}
#header-container  th{border-bottom: none; background: #497274;}

.calendar-calendar .week-view #multi-day-container, .calendar-calendar .week-view #single-day-container, .calendar-calendar .day-view #multi-day-container, .calendar-calendar .day-view #single-day-container{border: none;}


.calendar-calendar .week-view .header-body-divider, .calendar-calendar .week-view .single-day-footer, .calendar-calendar .day-view .single-day-footer, .calendar-calendar .day-view .header-body-divider, .single-day-footer .grippie, .header-body-divider .grippie{background: #5A9B9D; border: none;}


.calendar-calendar table.mini tbody thead tr{height: auto;}

